.report {
  &__scan-result-container {
    display: flex;
    font-size: 1.125rem; //18px
    column-gap: 0.2em; //4px
    justify-content: center;
    margin-bottom: 3em; // 54px
  }

  // &__scan-result-icon {
  // }

  &__scan-result-text {
    &_safe {
      color: #66fcf1;
    }
    &_malicious {
      color: #fd7570;
    }
    &_phishing {
      color: #fff371;
    }
  }
}
